{% ckan_extends %}

{# Removes followers info  #}
{% block nums %}
{% endblock %}
{% block follow %}
{% endblock %}

{% block description %}
  {% if organization.description %}
    <p class="description">
      {{ h.markdown_extract(organization.description, 180) }}
    </p>
     <p class="read-more">
      {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
      </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this ' ~ h.customizer_organization_name().lower()) }}</p>
  {% endif %}
{% endblock %}
